{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이야기 놀이터</title>
    <link rel="stylesheet" href="/static/css/style_write.css">
</head>
<body>
    <div id="chat-container">
        <div id="chat-box"></div>
        <input type="text" id="chat-input" placeholder="메시지를 입력하세요...">
        <button id="send-btn">전송</button>
    </div>
    <script src="/static/js/write.js"></script>
</body>
</html>